#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define UPPER   2

/ {
    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&kp TAB           &kp Q  &kp W  &kp E     &kp R  &kp T        &kp Y                  &kp U            &kp I                &kp O    &kp P     &kp EQUAL
&mt RCTRL ESCAPE  &kp A  &kp S  &kp D     &kp F  &kp G        &kp H                  &kp J            &kp K                &kp L    &kp SEMI  &kp SQT
&kp LEFT_SHIFT    &kp Z  &kp X  &kp C     &kp V  &kp B        &kp N                  &kp M            &kp COMMA            &kp DOT  &kp FSLH  &kp MINUS
                                &kp LGUI  &mo 1  &kp SPACE    &mt LEFT_SHIFT RETURN  &lt 1 BACKSPACE  &mt LEFT_ALT DELETE
            >;
        };

        Symbols {
            bindings = <
&kp GRAVE  &none  &none  &kp LEFT_BRACE        &kp RIGHT_BRACE        &none        &none  &kp N7        &kp N8        &kp N9        &none      &none
&none      &none  &none  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &none        &none  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp RIGHT  &none
&none      &none  &none  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &none        &none  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &none      &none
                         &none                 &none                  &kp MINUS    &none  &none         &none
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans    &trans    &trans  &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans    &trans    &trans  &trans     &trans
                        &trans  &trans  &trans    &trans  &trans    &trans
            >;
        };
    };
};
